.white-background{
    -fx-background-color: #fff;
}
.right-top-side-boder{
    -fx-border-color: #6F6F6F;
    -fx-border-width: 0;
}

.nav-btn{
    -fx-background-color: transparent;
}

.nav-btn:hover{
    -fx-background-color: #e9e9e9;
    -fx-border-color: BLACK;
    -fx-border-width: 0 0 0 4px;
    -fx-font-size: 16px;
}

.active{
    -fx-background-color: #e9e9e9;
    -fx-border-color: BLACK;
    -fx-border-width: 0 0 0 4px;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.primary-color{
    -fx-background-color: #eff2f6;
}


.card{
    -fx-background-color: #fff;
    -fx-background-radius: 25px;
}

.chart-type-btn{
    -fx-background-color: transparent;
}

.active-chart-type{
    -fx-background-color: #e9e9e9;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.char-type-box{
    -fx-border-color: #b6b6b6;
    -fx-border-width: 2px;
}

.field{
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-color: #bababa;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
}

.field:focused{
    -fx-border-color: #039be5;
}

.error-field{
    -fx-border-color: #f44336;
}

.combo-box {
    -fx-font-size: 14px;
}

.combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box .text-field:focused{
    -fx-prompt-text-fill: transparent;
}

.combo-box-popup .list-view{
    -fx-font-size: 14px;
}

.combobox-up .arrow {
    -fx-shape: "M 0 6 L 4 2 L 8 6 Z";
}

.btn{
    -fx-background-color: #fff;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

.btn:hover{
    -fx-background-radius: 15px;
    -fx-text-fill: #fff;
}

.add-btn{
    -fx-border-color: #00DE73;
    -fx-text-fill: #00DE73;
}

.add-btn:hover{
    -fx-background-color: #00DE73;

}

.cancel-btn{
    -fx-border-color: #f44336;
    -fx-text-fill: #f44336;
}

.cancel-btn:hover{
    -fx-background-color: #f44336;
}

.search-field{
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.table-view .table-column{
    -fx-alignment: center-left;
}

.table-view .column-header{
    -fx-background-color: #e4e4e4;
    -fx-font-size: 14px;
    -fx-size: 50px;
}

.table-view .table-cell{
    -fx-font-size: 14px;
}

.table-row-cell{
    -fx-cell-size: 30px;
}
.table-view .column-header-background .filler{
    -fx-background-color: #e4e4e4;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color:  #e4e4e4;
}


.spinner .text-field{
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button{
    -fx-background-color:  #e9e9e9;
}

.spinner .increment-arrow-button{
    -fx-background-radius: 5 15 5 5;
}

.spinner .decrement-arrow-button{
    -fx-background-radius: 5 5 15 5;
}

.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed{
    -fx-background-color: #bababa;
}


.export-order-btn{

    -fx-border-color: #039be5;
    -fx-text-fill: #039be5;
}

.export-order-btn:hover{
    -fx-background-color: #039be5;
}

.save-btn{
    -fx-border-color: #ff5722;
    -fx-text-fill: #ff5722;
}

.save-btn:hover{
    -fx-background-color: #ff5722;
}





